body {
  background-image: url(https://png.pngtree.com/background/20230610/original/pngtree-colors-of-colorful-light-on-dark-background-wallpaper-hd-the-best-picture-image_3022379.jpg);
  background-size: cover; /* Asegura que la imagen cubra todo el fondo */
  background-position: center center; /* Centra la imagen en el fondo */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  font-family: 'Poppins', sans-serif;

}

/* Estilo del Dropdown Toggle */
.dropdown-toggle {
  color: white; /* Color de texto blanco */
  background-color: transparent; /* Fondo transparente */
  border: 1px solid white; /* Borde blanco */
  text-align: center; /* Centrar el texto */
}

/* Estilo para el Menu y los Items del Dropdown */
.dropdown-menu {
  background-color: transparent; /* Fondo transparente */
  border: 1px solid white; /* Borde blanco */
}

.dropdown-item {
  color: white; /* Color de texto blanco */
  text-align: center; /* Centrar el texto de cada item */
}



